.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #4DBDC6;
  border-color: #4DBDC6 transparent #4DBDC6 transparent;
  animation: loader 1.2s linear infinite;
  position: absolute;
  top: 20%;
  left: 45%;
  transform: translate(-50%, -50%);
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
