@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// Fonts
$main-font: 'Quicksand', sans-serif;

// Font Sizes
$small: 14px;
$title: 40px;

// Colors
$main-color: #484848;
$blue-color: #4DBDC6;
$red-color: #F9556D;

// Weight
$light: 300;
$semi-bold: 500;
$bold: 600;
